In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({"index":["12/03/23","4/12/23","2/04/23"],1:[1,2,3],2:[34,44,55],3:[87,34,55]})
df

      index  1   2   3
0  12/03/23  1  34  87
1   4/12/23  2  44  34
2   2/04/23  3  55  55

In [5]:
dates = pd.date_range(start ='1-1-2018',
           end ='1-6-2018', freq ='D')

In [6]:
df = pd.DataFrame({'index':i, 1:'test', 2:"testing"} for i in dates)
df = df.set_index('index', drop=True)
df

               1        2
index
2018-01-01  test  testing
2018-01-02  test  testing
2018-01-03  test  testing
2018-01-04  test  testing
2018-01-05  test  testing
2018-01-06  test  testing

In [8]:
df.to_excel("test.xlsx")

ModuleNotFoundError: No module named 'openpyxl'

In [1]:
import requests

url = "https://maps.googleapis.com/maps/api/place/details/json?place_id=ChIJN1t_tDeuEmsRUsoyG83frY4&fields=name%2Crating%2Cformatted_phone_number&key=AIzaSyDoYhNuBS78gVpY0Mj_IptTl1Pp1OvtO0Q"

payload={}
headers = {}

response = requests.request("GET", url, headers=headers, data=payload)

print(response.text)

{
   "error_message" : "You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started",
   "html_attributions" : [],
   "status" : "REQUEST_DENIED"
}