In [3]:
import pandas as pd

In [4]:
df = pd.read_excel(r"C:\Users\arul_\Desktop\Anand\6th sem college\ML\Linear Regression\pandas test.xlsx")

In [6]:
df

     name  age        dob
0   anand   20 2002-06-05
1   gagan   19 2003-04-12
2   gokul   20 2002-01-31
3  deepak   20 2002-09-23

In [8]:
type(df["name"])

pandas.core.series.Series

In [39]:
dict = {"index":["12/03/23","4/12/23","2/04/23"],1:[1,2,3],2:[34,44,55],3:[87,34,55]}
test = pd.DataFrame(dict)
test.to_excel(sheetname = 'sheet1', r"C:\Users\arul_\Desktop\Anand\6th sem college\ML\Linear Regression\pandas test.xlsx")

SyntaxError: positional argument follows keyword argument (1304131687.py, line 3)

In [17]:
test.iloc[0]

index       1
2        bhai
3        test
Name: 0, dtype: object

In [18]:
df

     name  age        dob
0   anand   20 2002-06-05
1   gagan   19 2003-04-12
2   gokul   20 2002-01-31
3  deepak   20 2002-09-23

In [20]:
df["name"]

0     anand
1     gagan
2     gokul
3    deepak
Name: name, dtype: object

In [29]:
df["age"].mean()

19.75

In [ ]:
df = pd.DataFrame({''})

In [44]:
dates = pd.date_range(start ='1-1-2018',
           end ='1-6-2018', freq ='D')

In [77]:
df = pd.DataFrame({'index':i, 1:'test', 2:"testing"} for i in dates)
df = df.set_index('index', drop=True)
df

               1        2
index
2018-01-01  test  testing
2018-01-02  test  testing
2018-01-03  test  testing
2018-01-04  test  testing
2018-01-05  test  testing
2018-01-06  test  testing